.product-page {
  font-family: Arial, sans-serif;
  background: #f8fbff;
  
}

/* Header */
.top-bar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
  align-items: center;
}

.logo h1{
  margin-bottom: 8px;
}

.logo-title {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
  color: #1e293b;   /* dark slate */
}

.logo-title span {
  color: #16a34a;   /* green highlight */
}

.logo-sub {
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0;
  color: #64748b;
}

.search-box {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.top-links span {
  margin-left: 20px;
  cursor: pointer;
}

/* Layout */
.content {
  display: flex;
  padding: 20px 40px;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebar label {
  display: block;
  margin-bottom: 6px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* Products */
.product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: 20px;
}

.product-card {
  cursor: pointer;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.product-card h4 {
  margin: 10px 0 5px;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  width: 100%;
  padding: 8px;
  border: none;
  background: #1e2a36;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Pagination */
.pagination {
  text-align: center;
  /* margin: 10px 0; */
  margin-top: 10px;
  
  padding-bottom: 20px;
  margin-left: 50px;
  
}

.pagination button {
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pagination .active {
  background: #1e2a36;
  color: white;
}
