.review-page {
  background: #f6f9fc;
  min-height: 100vh;
}

/* HEADER */
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
  align-items: center;
}

.logo h1{
  margin-bottom: 0px;
}

.logo-title {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
  color: #1e293b;   /* dark slate */
}

.logo-title span {
  color: #16a34a;   /* green highlight */
}

.logo-sub {
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0;
  color: #64748b;
}


.search {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.actions span {
  margin-left: 20px;
  cursor: pointer;
}

/* TOP */
.review-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

.steps span {
  margin: 0 5px;
  color: #888;
}

.steps .active {
  color: #2e7d32;
  font-weight: 600;
}

/* PROGRESS */
.progress-bar {
  display: flex;
  gap: 10px;
  padding: 0 40px;
}

.progress {
  flex: 1;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
}

.progress.active,
.progress.done {
  background: #1e2a36;
}

/* CONTENT */
.review-content {
  display: flex;
  gap: 30px;
  padding: 30px 40px;
}

/* LEFT */
.review-details {
  flex: 2;
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.review-details h3 {
  margin-bottom: 10px;
}

.info-box {
  background: #f4f7fb;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.review-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.review-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.review-item h4 {
  margin: 0;
}

.review-item p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}

/* RIGHT */
.order-summary {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.summary-row.total {
  font-weight: bold;
  font-size: 18px;
}

.place-order-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #1e2a36;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}